.profile {
  background-color: darken($color: $color-light, $amount: 50);
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr min-content min-content min-content;
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
}
