.profile {
  background-color: darken($color: $color-light, $amount: 50);
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr min-content min-content min-content;
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
}

.info {
  grid-row: 1 / 4;

  &__photo {
    position: relative;
    height: 25rem;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }

    &--upload {
      position: absolute;
      bottom: 0;
      right: 1rem;
      width: min-content;
      color: rgba($color-white, 0.8);
      font-size: 4rem;

      input {
        display: none;
      }

      i:hover {
        cursor: pointer;
      }

      &:hover {
        color: rgba($color-white, 1);
      }
    }
  }

  &__name {
    background-color: rgba($color-light, 0.5);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  &__info {
    color: $color-hard-1;
    display: block;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }

  &__body {
    background-color: rgba($color-light, 0.5);

    &--title {
      text-align: center;
      padding: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      background-color: darken($color: $color-light, $amount: 40);
      margin-bottom: 3rem;
    }

    &--body {
      padding: 0 1.5rem 2rem 1.5rem;
      .info__group {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        &--title {
          background-color: darken($color: $color-light, $amount: 40);
          margin: auto;
          text-align: center;
          padding: 0.2rem;
          margin-bottom: 1rem;
        }
        &--item {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.stats {
  background-color: rgba($color-light, 0.5);

  &__title {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: darken($color: $color-light, $amount: 40);
    margin-bottom: 3rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    padding: 0 2rem 3rem 2rem;

    &--item {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: darken($color: $color-light, $amount: 40);
      padding: 5rem;
      text-align: center;
      transition: all 0.3s;

      & span:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
        background-color: darken($color: $color-light, $amount: 30);
      }

      &:hover {
        background-color: darken($color: $color-light, $amount: 35);
      }
    }
  }
}

.badges {
  background-color: rgba($color-light, 0.5);

  &__title {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: darken($color: $color-light, $amount: 40);
    margin-bottom: 3rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: -3rem;

    &--item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: darken($color: $color-light, $amount: 40);
      padding: 2rem 2rem 4rem 2rem;
      transition: all 0.3s;

      i {
        font-size: 5rem;
      }

      span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
        background-color: darken($color: $color-light, $amount: 30);
        text-align: center;
      }

      &:hover {
        background-color: darken($color: $color-light, $amount: 35);
      }
    }
  }
}

.profile-quizes {
  background-color: rgba($color-light, 0.5);

  &__title {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: darken($color: $color-light, $amount: 40);
    margin-bottom: 3rem;
  }

  &__body {
    display: grid;
    grid-gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: -3rem;

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: darken($color: $color-light, $amount: 40);
      padding: 2rem;
      transition: all 0.3s;

      i {
        font-size: 5rem;
      }

      &:hover {
        background-color: darken($color: $color-light, $amount: 35);
        cursor: pointer;
      }
    }
  }
}
