.stats {
  background-color: rgba($color-light, 0.5);

  &__title {
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: darken($color: $color-light, $amount: 40);
    margin-bottom: 3rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    padding: 0 2rem 3rem 2rem;

    &--item {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: darken($color: $color-light, $amount: 40);
      padding: 5rem;
      text-align: center;
      transition: all 0.3s;

      & span:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
        background-color: darken($color: $color-light, $amount: 30);
      }

      &:hover {
        background-color: darken($color: $color-light, $amount: 35);
      }
    }
  }
}
