.header {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > * {
      padding: 1rem;
    }
  }

  &__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & a {
      padding: 1.5rem;
    }
    & a:not(:last-child):hover {
      background-color: $color-darker;
      color: $color-light;
      cursor: pointer;
    }

    &-create {
      background: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.5),
        rgba($color-blue-1, 0.5)
      );
      border-radius: 0.5rem;
      transition: all 0.3s;

      &:hover {
        background: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.7),
          rgba($color-blue-1, 0.7)
        );
      }
    }

    .header__profile {
      display: flex;
      width: min-content;
      padding: 1rem;
      position: relative;

      &:hover {
        background-color: $color-darker;
        color: $color-light;
        cursor: pointer;
      }

      &--image {
        width: 2.5rem;
        margin-right: 1rem;

        img {
          width: 100%;
        }
      }

      &--options {
        display: none;
      }

      &:hover .header__profile--options {
        display: block;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: darken($color: $color-light, $amount: 50);
      }

      .header__profile--options > * {
        padding: 1rem;
        display: block;
      }

      .header__profile--options > *:hover {
        background-color: $color-darker;
      }

      .header__profile--options i {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    display: block;

    &__left {
      justify-content: space-between;
    }

    &__right {
      justify-content: space-between;
    }
  }
}
