.create {
  padding: 10rem;
  box-shadow: 0 2rem 3rem rgba($color-light, 0.1);
  position: relative;

  .create__error {
    padding: 1.5rem;
    margin-top: 1rem;
    transition: all 0.3s;
    background-color: $color-hard-2;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;

    &:hover {
      background: $color-darker;
      cursor: pointer;
    }
  }

  .chosen {
    background: $color-darker;
  }

  .create__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    color: $color-white;
    text-align: center;

    &--back,
    &--next {
      background-color: $color-darker;
      width: 35%;
      padding: 1.3rem 5%;
      border-radius: 0.5rem;
      font-size: 2rem;
      transition: all 0.2s;
      text-transform: uppercase;
      font-size: 2.5rem;

      &:hover {
        background-color: darken($color-darker, 5);
        cursor: pointer;
      }
    }

    &--back i {
      margin-left: -2rem;
      margin-right: 2rem;
    }
    &--next i {
      margin-left: 2rem;
      margin-right: -2rem;
    }
  }

  .create__save {
    background-color: $color-blue-1;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 4rem;

    &:hover {
      background-color: darken($color-blue-1, 5);
      cursor: pointer;
    }

    i {
      margin-left: -2rem;
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .section__quizpage {
    margin-top: 1vh;
    padding: 5vh;
  }
}
